[submodule "third_party/llama.cpp"]
	path = third_party/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
[submodule "third_party/local-dream"]
	path = third_party/local-dream
	url = https://github.com/xororz/local-dream.git
